# Terraform
*.tfstate
*.tfstate.*
terraform.tfstate*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
# AWS credentials
.env
*.pem

# Node.js
node_modules/
dist/

# Logs
*.log

# VS Code settings
.vscode/
"terraform.tfstate*" 
